.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui .card {
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
}

#highlight {
  border-style: solid;
  border-color: lightblue;
  border-width: 5px;
}


#highlight1 {
  border-style: solid;
  border-color: lightblue;
  border-width: 5px;
}

.ui .statistics {
  padding-top:25px;
  margin-left:5px;
}

.home {
  margin:100px;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

#hey {
  display: flex;
  justify-content:center;
  padding: 10%;
  border-radius: 25px;
  background-color: lightblue;
  align-items: center;
}

#scoreheader {
  display: flex;
  justify-content: center;
}

#woot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color:#cbe8c9;
  padding: 10px;
}

.grid-item {
  background-color: #eff8ee;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
}

.item6 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.item7 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5 / span 5;
  grid-row: 1 / span 1;
}

.item1 {
  display: flex;
  grid-column: 2 / span 3;
  grid-row: 1 / span 1;
}

.item2 {
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item3 {
  display: flex;
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 60rem;
  overflow: auto;
}

.item4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-column: 5;
  grid-row: 2 / span 3;
  width: 100%;
}

.item5 {
  grid-column: 1 / span 5;
  grid-row: 5 / span 5;
}

.hello {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  margin: 2px;
  align-items: center;
  border-radius: 5px;
}

#group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#checkButton {
  background-color:#cbe8c9;

}

#clearButton {
  background-color:#cbe8c9;

}

#doneButton {
  background-color:#cbe8c9;

}

#drawButton {
  background-color:#cbe8c9;

}
