.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui .card {
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
}

#highlight {
  border-style: solid;
  border-color: #9DB68C;
  border-width: 5px;
}


#highlight1 {
  border-style: solid;
  border-color: #9DB68C;
  border-width: 5px;
}

.ui .statistics {
  padding-top:25px;
  margin-left:5px;
}

.root {
  margin:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbe8c9;

}

#hey {
  display: flex;
  justify-content:center;
  padding: 10%;
  align-items: center;
  background-color: #cbe8c9;

}

#scoreheader {
  display: flex;
  justify-content: center;
}

#woot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color:#cbe8c9;
  padding: 10px;
  width: 100%;
  overflow: auto;
}

.grid-item {
  background-color: #eff8ee;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
}

.item6 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  width: 37rem;
}

.item1 {
  display: flex;
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  width: 60rem;

}

.item7 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5 / span 2;
  grid-row: 1 / span 1;
  width: 37rem;
}


.item2 {
  display: flex;
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  width: 37rem;
}

.item3 {
  display: flex;
  grid-column: 3 / span 2;
  grid-row: 2 / span 3;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  height: 35rem;
  width: 60rem;
  overflow: auto;
  padding: 10px;
}

.item4 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-column: 5 / span 2;
  grid-row: 2 / span 3;
  overflow: auto;
  height: 35rem;
  width: 37rem;
}

.item5 {
  grid-column: 1 / span 6;
  grid-row: 5 / span 5;
}

.hello {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  margin: 2px;
  align-items: center;
  border-radius: 5px;
}

#group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#checkButton {
  background-color:#E41414;
  color: white;
  border-radius: 8px;
}

#clearButton {
  background-color:#000000;
  color: white;
  border-radius: 6px;

}

#doneButton {
  background-color:#0000FF;
  color: white;
  border-radius: 6px;
}

#drawButton {
  background-color:#FF8C00;
  color: white;
  border-radius: 6px;
}

#quitButton {
  background-color:#E41414;
  color: white;
  border-radius: 6px;
}

#sortButton {
  background-color:#FF8C00;
  color: white;
  border-radius: 6px;
}

.somethin {
  width: 80%;
}

div .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 642px;
}

.rulesImage {
  margin-top: -30px;
width: 70%;
}

.logoImage {
width: 85%;
}

.rummiImage {
  width: 60%;
}

#playButton {
background-color: #E41414;
color: white;
border-radius: 8px;
}

#instructionsButton {
background-color: #000000;
color: white;
border-radius: 8px;
}


#homeButton {
background-color: #FF8C00;
color: white;
border-radius: 8px;
}

#rummisays {
  display: flex;
  background-color: #cbe8c9;
  color: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  line-height: 1.5em;
  height: 55px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.state {
  display: flex;
  align-items: center;
}

 body {
   background-color: #cbe8c9;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  #playRummi {
    margin-top: -30px;
    width: 30%;
  }

#homeButtons {
  margin-top: 30px;
}

#playerHand {
  font-family: 'Press Start 2P', cursive;
  background-color: #cbe8c9;
  padding: 6px 14px;
  border-radius: 5px;
  font-size: 20px;
}

#statsHand {
  margin-top: 10px;
  font-family: 'Baloo Chettan', cursive;
  font-size: 25px;
}

#score {
  font-family: 'Baloo Chettan', cursive;
}

.rummiImage:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.hello:hover {
  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
